a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  
  body {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium
  }